<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="LoginSuite" verbose="1" >
  <test name="SuccessAttempts" >
    <groups>
    	<run>
    		<include name="loginSucess"></include>
    		<include name="registrationSuccess"></include>
    	</run>
    </groups>
    <classes>
    	<class name="TestNGExample.EjemploTestNG"/>
    </classes>
  </test>
  <test name="FailureAttempts">
  	<groups>
    	<run>
    		<include name="LoginFailiures"></include>
    		<include name="registrationFail"></include>
    	</run>
    </groups>
    <classes>
    	<class name="TestNGExample.EjemploTestNG"/>
    </classes>
  </test>
 </suite>
